th, td {
    padding: 15px;
}

* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

th {
    background-color: yellow !important;
}

table, th, tr {
    border: 2px solid black !important;
}