th, td {
    padding: 15px;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

th {
    background-color: yellow !important;
}

table, th, tr {
    border: 2px solid black !important;
}

table {
    border-radius: 15px;
}