th, td {
    padding: 15px;
}

* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

th {
    background-color: yellow;
}

table, th, td {
    border: 2px solid black;
}